/*************************
Browser default css resets
**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: Arial, sans-serif;
    overflow-y: scroll;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

iframe {
    max-width: 100%;
    height: 200px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-title {
    text-align: center;
    margin-bottom: 30px;
}

.row-title h2 {
    font-size: 24px;
}

.button {
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    background: #eee;
    border-top: #009246 4px solid;
    border-bottom: #CE2B37 4px solid;
}

.button:hover {
    text-decoration: underline;
}

.italie-vlag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    height: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.italie-vlag span {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    height: 100%;
}

.italie-vlag span.groen {
    background-color: #009246;
}

.italie-vlag span.wit {
    background-color: #F1F2F1;
}

.italie-vlag span.rood {
    background-color: #CE2B37;
}

.rechts-uitlijnen {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

[class^="col-"] {
    padding: 0 15px;
    background-clip: content-box;
}

.col-4, .col-6, .col-8, .col-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

header {
    padding-top: 10px;
}

header .top-header {
    justify-content: center;
}

nav {
    width: 100%;
    background: #eee;
    margin: 5px 15px 0 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav ul li {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    z-index: 1;
}

nav ul ul li {
    float: none;
    width: 150px;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
}

nav ul li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000000;
    font-family: Arial, sans-serif;
}

nav ul li:hover,
nav ul li:hover > a,
nav ul li.current,
nav ul li.current > a{
    background: #009246;
    color: #F1F2F1;
    cursor: pointer;
}

header input[type="search"] {
    border: 0;
    border-bottom: #009246 2px solid;
    background: transparent;
    outline: none;
}

header input[type="submit"] {
    margin-left: -4px;
    width: 70px;
    background: #009246;
    outline: none;
    border: none;
    padding-top: 4px;
    padding-bottom: 3px;
    color: #F1F2F1;
    cursor: pointer;
}

.top-afbeelding {
    margin-bottom: 30px;
}

.intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 30px auto;
}

.intro h1 {
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}

.intro p {
    font-size: 16px;
    line-height: 21px;
}

.videos {
    margin-bottom: 30px;
}

.videos article {
    text-align: center;
    margin-bottom: 15px;
}

.videos article p {
    margin: 15px 0;
}

.forumbijdragen {
    margin-bottom: 30px;
    justify-content: center;
}

.forumbijdragen article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}

.forumbijdragen .persoon-afbeelding {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}

.forumbijdragen .persoon-afbeelding img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.forumbijdragen .bericht-meta {
    display: block;
    width: 100%;
    font-size: 13px;
    color: #777777;
    margin-bottom: 5px;
}

.forumbijdragen .bericht-meta time {
    font-style: italic;
}

.forumbijdragen .forum-bericht {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    background: #eee;
    padding: 15px;
    position: relative;
}

.forumbijdragen .forum-bericht h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
}

.forumbijdragen .forum-bericht p {
    font-size: 15px;
    line-height: 21px;
}

.forumbijdragen .forum-bericht .button {
    position: absolute;
    right: 0;
    bottom: 0;
}

footer {
    clear: both;
    padding: 20px 0;
    border-top: 2px solid #009246;
}

.video-pagina .intro {
    margin-top: 30px;
}

.video-pagina .videos article {
    margin-bottom: 30px;
}

@media (min-width: 562px) {
    
}

@media (min-width: 768px) {
    .col-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 49.9%;
        -ms-flex: 0 0 49.9%;
        flex: 0 0 49.9%;
        max-width: 49.9%;
    }

    .col-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    nav ul li {
        width: auto;
        text-align: initial;
    }

    nav ul li a {
        padding: 20px;
    }

    .videos article {
        margin-bottom: 0;
    }
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}